body {
  padding-top: 90px;
  padding-bottom: 70px;
}

#col4 {
  text-align: center;
}

#col5 {
  text-align: center;
}

#btnBlock {
  margin-top: 20px
}

.logo {
  height: 90px;
  padding: 0.5em;
}

.bg-blueberry {
  background-color: #47618c;
}

.bg-gray {
  background-color: #f1f3f4;
}

.bg-white {
  background-color: white;
  padding: 20px;
}

.footerText {
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

.gestao {
  margin: 18px;
  color: #6e6e73;
}

.redIconTable {
  color: red;
}

.blueIconTable {
  color: blue;
}
